 .u-section-1 {
  min-height: 820px;
}

.u-section-1 .u-gallery-1 {
  height: 486px;
  margin-top: 219px;
  margin-bottom: 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 47.9%;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 39px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  object-position: 50% 33.53%;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 39px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 4px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 77px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 121px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 52px 50px 60px 106px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 2053px;
}

.u-section-3 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-3 .u-image-1 {
  height: 371px;
  margin-top: 105px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 105px 10px 0;
}

.u-section-3 .u-gallery-1 {
  height: 545px;
  grid-gap: 10px 10px;
  margin-top: 87px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  padding: 10px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  padding: 10px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  margin: 159px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 121px -50px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 427px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 41px 954px 0 -35px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: -24px auto 0 344px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: -19px 920px 0 -35px;
}

.u-section-5 .u-map-1 {
  width: 527px;
  height: 216px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -4px auto 0 228px;
}

.u-section-5 .u-social-icons-1 {
  height: 56px;
  min-height: 16px;
  width: 137px;
  min-width: 57px;
  margin: -190px 187px 0 auto;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: -9px 954px 0 -35px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 3px 144px 0 auto;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  font-size: 1.8126em;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: -45px 920px 0 -35px;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  margin: 7px auto 60px -35px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 854px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 284px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 820px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 854px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 820px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 744px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 218px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 710px;
  }

  .u-section-5 .u-map-1 {
    margin-left: 193px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 744px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 654px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 164px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 620px;
  }

  .u-section-5 .u-map-1 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 654px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 620px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 554px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 103px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 520px;
  }

  .u-section-5 .u-map-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 554px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 520px;
  }
}