 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1600px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 249px 343px 0 422px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 61px 396px 0 19px;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 71px 74px 0 447px;
}

.u-section-1 .u-image-1 {
  width: 386px;
  height: 455px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -488px auto 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: 24px auto 0 111px;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-text-4 {
  margin: 112px 1004px 0 24px;
}

.u-section-1 .u-list-1 {
  width: 1102px;
  margin: 44px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 343px;
  grid-template-columns: calc(33.3333% - 15.3333px) calc(33.3333% - 15.3333px) calc(33.3333% - 15.3333px);
  grid-gap: 23px 23px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 375px;
    margin-right: 243px;
    margin-left: 322px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 53px;
    margin-right: 91px;
    margin-left: 171px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 46px;
    margin-right: 64px;
    margin-left: 420px;
  }

  .u-section-1 .u-image-1 {
    height: 389px;
    margin-top: -688px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 186px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 828px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 290px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 133px;
    margin-left: 212px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 61px;
    margin-right: 74px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
    margin-right: 0;
    margin-left: 375px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -895px;
    margin-left: -41px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 620px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -313px;
    margin-right: 641px;
    margin-left: -32px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 701px;
    grid-template-columns: calc(50% - 11.5px) calc(50% - 11.5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 43px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 68px;
    margin-right: 0;
    margin-left: 169px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 426px;
    margin-left: 195px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1297px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 1296px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -587px;
    margin-right: 551px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1546px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 234px;
    margin-top: 144px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 445px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 343px;
    margin-top: -1305px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 1432px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -483px;
    margin-right: 237px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 2074px;
}

.u-section-2 .u-text-1 {
  width: 244px;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 891px;
  margin: 48px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 554px;
  grid-gap: 17px 17px;
  margin-top: 82px;
  margin-bottom: 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 47px 47px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-3 {
  margin: 18px 197px 0 757px;
}

.u-section-2 .u-text-4 {
  margin: -29px 805px 0 149px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 82px 0 669px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-opacity: 0.35;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: -526px 704px 0 48px;
}

.u-section-2 .u-social-icons-1 {
  height: 53px;
  min-height: 16px;
  width: 179px;
  min-width: 68px;
  margin: 39px auto 0 130px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-social-icons-2 {
  height: 53px;
  min-height: 16px;
  width: 179px;
  min-width: 68px;
  margin: -53px 197px 60px auto;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1975px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 360px;
  }

  .u-section-2 .u-gallery-1 {
    height: 455px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-3 {
    margin-right: 97px;
    margin-left: 657px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 705px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 551px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 551px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2957px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 276px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1437px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 534px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 534px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 331px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 331px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2602px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 207px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1082px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 354px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 354px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 151px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2208px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 91px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 688px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
    margin-left: 154px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -13px;
    margin-right: 154px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 95px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -678px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 741px;
}.u-section-4 .u-sheet-1 {
  min-height: 436px;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 353px;
}

.u-section-5 .u-text-1 {
  margin: 70px auto 0 420px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: -38px 875px 0 19px;
}

.u-section-5 .u-map-1 {
  height: 187px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  width: 558px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 31px auto 22px 265px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 97px;
    margin-left: 347px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -59px;
    margin-right: 694px;
    margin-left: 0;
  }

  .u-section-5 .u-map-1 {
    margin-top: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 266px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 474px;
  }

  .u-section-5 .u-map-1 {
    margin-left: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 200px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 294px;
  }

  .u-section-5 .u-map-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 126px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-5 .u-map-1 {
    width: 340px;
  }
}

.u-section-5 .u-map-1,
.u-section-5 .u-map-1:before,
.u-section-5 .u-map-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-map-1.u-map-1.u-map-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-5 .u-map-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-map-1.u-map-1.u-map-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-5 .u-map-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-map-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-map-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}